<ion-view view-title="Login" align-title="left" id="login">
    <ion-content style="background: url(img/login-bg.jpg) center top no-repeat;background-size: cover;background-position-x: -460px;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="list">
            <ion-md-input ng-model="loginData.mail" placeholder="Correo" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input ng-model="loginData.pass" placeholder="Contraseña" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.categories" class="button button-full background-principal ink">Iniciar sesión</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
